{% extends 'base.html' %}
{% load static %}
{% block main %}
    <!-- Start All Pages -->
    <div class="all-page-title page-breadcrumb">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Pages -->

    <!-- Start Contact -->
    <div class="contact-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-title text-center">
                        <h2>Contact</h2>
                        {% if messages %}
                            {% for message in messages %}
                                <p class="alert alert-info">{{ message }}</p>
                            {% endfor %}
                        {% else %}
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ forms.name }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ forms.email }}
                                    {% for error in forms.email.errors %}
                                        <div class="alert alert-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ forms.phone }}
                                    {% for error in forms.phone.errors %}
                                        <div class="alert alert-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ forms.message }}
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="submit-button text-center">
                                    <button class="btn btn-common" id="submit" type="submit">Send Message</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact -->
{% endblock %}